// Globals

$body-font-family: "Jua", "Roboto", sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  "small": 20,
);
$btn-sizes: (
  "default": 41,
  "large": 54,
);

$headings: (
  "h1": (
    "size": 3.3125rem,
    "line-height": 1.15em,
  ),
  "h2": (
    "size": 2.25rem,
    "line-height": 1.5em,
  ),
);

$font-size-desktop: 16px;
$font-size-title: 1.2rem;

$primary: #326789;
$second: #78a6c8;
$background: #e9eef4;
$warn: #e65c4f;

$laptop: 1280px;
$tablet: 768px;
$mobile: 425px;
