.btn {
  margin-left: 10px;
}

#contentImg {
  height: 50vh;
  background-image: url("../img/overlay_night.gif");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.selection_container {
  height: 80px;
  /* padding: 50px; */
  background-color: rgb(202, 205, 208);
}

.search-btn {
  width: 300px;
}

.form-select {
  margin: 0 30px;
}

#articleImg {
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rank li {
  margin-top: 10px;
}

.rank a {
  font-size: 20px;
  text-decoration-line: none;
  color: black;
}

.article a {
  font-size: 30px;
  text-decoration-line: none;
  color: black;
}

#main-content .title {
  font-weight: 700;
}

#main-content>.row {
  padding: 25px;
}

.div-flex {
  display: flex;
}