.login-container {
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.login-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.login-box {
    display: flex;
    flex-direction: column;
}

.login-title {
    font-size: 30px;
    margin-bottom: 18px;
    text-align: center;
}

.login-box>input {
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 5px;
    width: 448px;
    height: 56px;
    margin-bottom: 18px;
    padding: 10px;
}

.login-box>input ::placeholder {
    font-size: 17px;
    text-align: center;
}

.login-box>button {
    color: #fff;
    width: 448px;
    height: 56px;
    margin-bottom: 18px;
    border: none;
    display: block;
    font-size: 17px;
    background-color: #003580;
}